:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-dark: #333333;
  --color-light: #efefef;
  --color-megasena: #6befa3;
  --color-quina: #8666ef;
  --color-lotofacil: #dd7ac6;
  --color-lotomania: #ffab64;
  --color-timemania: #5aad7d;
  --color-timemania: #5aad7d;
  --color-diadesorte: #bfaf83;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--color-light);
  position: relative;
}
